## Section 3.11- Question 3

In [1]:
# import the libraries
import pandas as pd
import numpy as np

In [2]:
# create the dictionary and put the data into data frame
data={'Instance' : [1,2,3,4,5,6,7,8,9],
     'a1':['T','T','T','F','F','F','F','T','F'],
     'a2':['T','T','F','F','T','T','F','F','T'],
     'a3':[1.0, 6.0, 5.0,4.0,7.0,3.0,8.0,7.0,5.0],
     'Target_Class' : ['+','+','-','+','-','-','-','+','-']
     }
df=pd.DataFrame(data)
df

   Instance a1 a2   a3 Target_Class
0         1  T  T  1.0            +
1         2  T  T  6.0            +
2         3  T  F  5.0            -
3         4  F  F  4.0            +
4         5  F  T  7.0            -
5         6  F  T  3.0            -
6         7  F  F  8.0            -
7         8  T  F  7.0            +
8         9  F  T  5.0            -

In [3]:
# function to create entropy
def entropy(x,y):
    total=x+y
    entropy_value=-(x/total)*np.log2(x/total)-(y/total)*np.log2(y/total)
    return(entropy_value)

### What is the entropy of this collection of training examples with respect to the class attribute?

In [4]:
df.Target_Class.unique()

array(['+', '-'], dtype=object)

In [5]:
c1=(df['Target_Class'].value_counts()).loc['+']
c2=(df['Target_Class'].value_counts()).loc['-']
print(c1,c2)
en=entropy(c1,c2)
print("The Entropy of Training example is: ",en)

4 5
The Entropy of Training example is:  0.9910760598382222

### What are the information gains of a1 and a2 relative to these training examples?

In [6]:
a1_temp=pd.crosstab(df['a1'],df['Target_Class'],margins=True)
print(a1_temp)
a1_temp = a1_temp.reset_index()
a1_temp

Target_Class  +  -  All
a1
F             1  4    5
T             3  1    4
All           4  5    9

Target_Class   a1  +  -  All
0               F  1  4    5
1               T  3  1    4
2             All  4  5    9

In [7]:
a1_false_p=a1_temp.loc[a1_temp.a1=='F','+'].values[0]
a1_false_n=a1_temp.loc[a1_temp.a1=='F','-'].values[0]
#print(a1_false_p,a1_false_n)
en_a1_false=entropy(a1_false_p,a1_false_n)
print("Entropy of False for a1 :",en_a1_false)

a1_true_p=a1_temp.loc[a1_temp.a1=='T','+'].values[0]
a1_true_n=a1_temp.loc[a1_temp.a1=='T','-'].values[0]
#print(a1_true_p,a1_true_n)
en_a1_true=entropy(a1_true_p,a1_true_n)
print("Entropy of True for a1 :",en_a1_true)

entropy_a1_total=(5/9)*en_a1_false + (4/9)*en_a1_true
print("The overall Entropy for a1 :",entropy_a1_total)

Entropy of False for a1 : 0.7219280948873623
Entropy of True for a1 : 0.8112781244591328
The overall Entropy for a1 : 0.7616392191414825

In [8]:
a2_temp=pd.crosstab(df['a2'],df['Target_Class'],margins=True)
print(a2_temp)
a2_temp = a2_temp.reset_index()
a2_temp

Target_Class  +  -  All
a2
F             2  2    4
T             2  3    5
All           4  5    9

Target_Class   a2  +  -  All
0               F  2  2    4
1               T  2  3    5
2             All  4  5    9

In [9]:
a2_false_p=a2_temp.loc[a2_temp.a2=='F','+'].values[0]
a2_false_n=a2_temp.loc[a2_temp.a2=='F','-'].values[0]
#print(a2_false_p,a2_false_n)
en_a2_false=entropy(a2_false_p,a2_false_n)
print("Entropy of False for a2 :",en_a2_false)

a2_true_p=a2_temp.loc[a2_temp.a2=='T','+'].values[0]
a2_true_n=a2_temp.loc[a2_temp.a2=='T','-'].values[0]
#print(a2_true_p,a2_true_n)
en_a2_true=entropy(a2_true_p,a2_true_n)
print("Entropy of True for a2 :",en_a2_true)

entropy_a2_total=(4/9)*en_a2_false + (5/9)*en_a2_true
print("The overall Entropy for a2 :",entropy_a2_total)

Entropy of False for a2 : 1.0
Entropy of True for a2 : 0.9709505944546686
The overall Entropy for a2 : 0.9838614413637048

In [10]:
IG_a1= en-entropy_a1_total
print("Information Gain for a1",IG_a1)

IG_a2= en-entropy_a2_total
print("Information Gain for a1",IG_a2)

Information Gain for a1 0.22943684069673975
Information Gain for a1 0.007214618474517431

### What is the best split (between a1 and a2) according to the misclassification error rate?

In [11]:
a1_temp

Target_Class   a1  +  -  All
0               F  1  4    5
1               T  3  1    4
2             All  4  5    9

In [12]:
print(a1_false_p,a1_false_n)
total_false=a1_false_p+a1_false_n
print(a1_true_p,a1_true_n)
total_true=a1_true_p+a1_true_n

1 4
3 1

In [13]:
false_error=1-max(a1_false_p/total_false,a1_false_n/total_false)
print("For attribute a1: false error rate :",false_error)

true_error=1-max(a1_true_p/total_true,a1_true_n/total_true)
print("For attribute a1: true error rate :",true_error)

w_avg_error=(false_error*5/9)+(true_error*4/9)
print("For attribute a1: error rate :",w_avg_error)

For attribute a1: false error rate : 0.19999999999999996
For attribute a1: true error rate : 0.25
For attribute a1: error rate : 0.2222222222222222

In [14]:
a2_temp

Target_Class   a2  +  -  All
0               F  2  2    4
1               T  2  3    5
2             All  4  5    9

In [15]:
print(a2_false_p,a2_false_n)
t_a2_false=a2_false_p+a2_false_n
print(a2_true_p,a2_true_n)
t_a2_true=a2_true_p+a2_true_n

2 2
2 3

In [16]:
false_error_a2=1-max(a2_false_p/t_a2_false,a2_false_n/t_a2_false)
print("For attribute a2: false error rate :",false_error_a2)

true_error_a2=1-max(a2_true_p/t_a2_true,a2_true_n/t_a2_true)
print("For attribute a2: true error rate :",true_error_a2)

w_avg_error_a2=(false_error_a2*4/9)+(true_error_a2*5/9)
print("For attribute a2: error rate :",w_avg_error_a2)

For attribute a2: false error rate : 0.5
For attribute a2: true error rate : 0.4
For attribute a2: error rate : 0.4444444444444444

### Answer: According to error rate a1 produces the best split.

### What is the best split (between a1 and a2) according to the Gini index?

In [17]:
# function to create Gini Index 
def gini_index(x,y):
    total=x+y
    giniindex=1-((x/total)**2)-((y/total)**2)
    #print(giniindex)
    return(giniindex)
print("Gini Index of true for a1 ",gini_index(a1_true_p,a1_true_n))
print("Gini Index of false for a1 ",gini_index(a1_false_p,a1_false_n))
print("The overall Gini Index of a1 ",gini_index(a1_true_p,a1_true_n)*(4/9)+gini_index(a1_false_p,a1_false_n)*(5/9))

Gini Index of true for a1  0.375
Gini Index of false for a1  0.31999999999999984
The overall Gini Index of a1  0.34444444444444433

In [18]:
print("Gini Index of true for a2 ",gini_index(a2_true_p,a2_true_n))
print("Gini Index of false for a2 ",gini_index(a2_false_p,a2_false_n))
print("The overall Gini Index of a2 ",gini_index(a2_true_p,a2_true_n)*(5/9)+gini_index(a2_false_p,a2_false_n)*(4/9))

Gini Index of true for a2  0.48
Gini Index of false for a2  0.5
The overall Gini Index of a2  0.4888888888888889

### Answer: Since the Gini index for a1 is smaller, it produces the best split.