## Section 3.11- Question 2

In [1]:
# import the libraries
import pandas as pd
import numpy as np

In [2]:
# create the dictionary and put the data into data frame
car={'Customer_id':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],
    'Gender':['M','M','M','M','M','M','F','F','F','F','M','M','M','M','F','F','F','F','F','F'],
    'Car_type':['Family','Sports','Sports','Sports','Sports','Sports','Sports','Sports','Sports','Luxury',
                'Family','Family','Family','Luxury','Luxury','Luxury','Luxury','Luxury','Luxury','Luxury'],
    'Shirt_size':['Small','Medium','Medium','Large','Extra Large','Extra Large','Small','Small','Medium','Large',
                  'Large','Extra Large','Medium','Extra Large','Small','Small','Medium','Medium','Medium','Large'],
    'Class':['C0','C0','C0','C0','C0','C0','C0','C0','C0','C0','C1','C1','C1','C1','C1','C1','C1','C1','C1','C1',]}
df=pd.DataFrame(car)
df[:5]

   Customer_id Gender Car_type   Shirt_size Class
0            1      M   Family        Small    C0
1            2      M   Sports       Medium    C0
2            3      M   Sports       Medium    C0
3            4      M   Sports        Large    C0
4            5      M   Sports  Extra Large    C0

In [3]:
# calculate the total number of rows
total_column=df.count()
total_column

Customer_id    20
Gender         20
Car_type       20
Shirt_size     20
Class          20
dtype: int64

In [24]:
# function to create Gini Index 
def gini_index(x,y):
    print("x=",x)
    print("y",y)
    total=x+y
    giniindex=1-((x/total)**2)-((y/total)**2)
    print((x/total)**2)
    print((y/total)**2)
    #print(giniindex)
    return(giniindex)

# Compute the Gini index for the overall collection of training example

In [5]:
# calculate the unique values in the class attributes
df.Class.unique()

array(['C0', 'C1'], dtype=object)

In [6]:
# count the values with repect to objects and calcluate the Gini index for class attribute
count_c0=(df['Class'].value_counts()).loc['C0']
count_c1=(df['Class'].value_counts()).loc['C1']
print("The Gini Index for overall collection(Class): ",gini_index(count_c0,count_c1))
gini_index(count_c0,count_c1)

The Gini Index for overall collection(Class):  0.5

0.5

# Compute the Gini index for the Car Type attribute using multiway split

In [7]:
# calculate the unique values in Car type attribute
df.Car_type.unique()

array(['Family', 'Sports', 'Luxury'], dtype=object)

In [8]:
Car_type1=pd.crosstab(df['Car_type'], df['Class'],margins=True)
print(Car_type1)
Car_type1 = Car_type1.reset_index()
Car_type1

Class     C0  C1  All
Car_type
Family     1   3    4
Luxury     1   7    8
Sports     8   0    8
All       10  10   20

Class Car_type  C0  C1  All
0       Family   1   3    4
1       Luxury   1   7    8
2       Sports   8   0    8
3          All  10  10   20

In [9]:
#calcluate the Gini index for car type attribute
family_car_c0=Car_type1.loc[Car_type1.Car_type == 'Family','C0'].values[0]
#family_car_c0
family_car_c1=Car_type1.loc[Car_type1.Car_type == 'Family','C1'].values[0]
#family_car_c1
print("The Gini Index for Family car: ",gini_index(family_car_c0,family_car_c1))

luxury_car_c0=Car_type1.loc[Car_type1.Car_type == 'Luxury','C0'].values[0]
luxury_car_c1=Car_type1.loc[Car_type1.Car_type == 'Luxury','C1'].values[0]
print("The Gini Index for luxury car: ",gini_index(luxury_car_c0,luxury_car_c1))

sports_car_c0=Car_type1.loc[Car_type1.Car_type == 'Sports','C0'].values[0]
sports_car_c1=Car_type1.loc[Car_type1.Car_type == 'Sports','C1'].values[0]
#print(sports_car_c0)
print("The Gini Index for Sports car: ",gini_index(sports_car_c0,sports_car_c1))

cartype_overall_index=gini_index(family_car_c0,family_car_c1)*(4/20)+gini_index(luxury_car_c0,luxury_car_c1)*(8/20)+gini_index(sports_car_c0,sports_car_c1)*(8/20)
print("The overall Gini for Car Type attribute is", cartype_overall_index)

The Gini Index for Family car:  0.375
The Gini Index for luxury car:  0.21875
The Gini Index for Sports car:  0.0
The overall Gini for Car Type attribute is 0.16250000000000003

# Compute the Gini index for the Gender attribute

In [10]:
df.Gender.unique()

array(['M', 'F'], dtype=object)

In [11]:
gender=pd.crosstab(df['Gender'], df['Class'],margins=True)
print(gender)
gender = gender.reset_index()
gender

Class   C0  C1  All
Gender
F        4   6   10
M        6   4   10
All     10  10   20

Class Gender  C0  C1  All
0          F   4   6   10
1          M   6   4   10
2        All  10  10   20

In [25]:
###calcluate the Gini index for Gender attribute
gender_c0=gender.loc[gender.Gender == 'F','C0'].values[0]
gender_c1=gender.loc[gender.Gender == 'F','C1'].values[0]
print(gender_c0,gender_c1)
print("The Gini Index for Female gender : ",gini_index(gender_c0,gender_c1))

gender_m_c0=gender.loc[gender.Gender == 'M','C0'].values[0]
gender_m_c1=gender.loc[gender.Gender == 'M','C1'].values[0]
print(gender_m_c0,gender_m_c1)
print("The Gini Index for Male gender : ",gini_index(gender_m_c0,gender_m_c1))

gender_gini_overall=gini_index(gender_c0,gender_c1)*(10/20)+gini_index(gender_m_c0,gender_m_c1)*(10/20)
print("The overall Gini for Gender attribute is", gender_gini_overall)

4 6
x= 4
y 6
0.16000000000000003
0.36
The Gini Index for Female gender :  0.48
6 4
x= 6
y 4
0.36
0.16000000000000003
The Gini Index for Male gender :  0.48
x= 4
y 6
0.16000000000000003
0.36
x= 6
y 4
0.36
0.16000000000000003
The overall Gini for Gender attribute is 0.48

In [21]:
print(gender_c0,gender_c1)
total=gender_c0+gender_c1
print(total)
a=(gender_c0/total)**2
b=(gender_c1/total)**2
giniindex=1-(a-b)
print(giniindex)

4 6
10
1.2

# Compute the Gini index for the Shirt size attribute using multiway split

In [13]:
Shirt_size1=pd.crosstab(df['Shirt_size'],df['Class'],margins=True)
print(Shirt_size1)
Shirt_size1 = Shirt_size1.reset_index()
Shirt_size1

Class        C0  C1  All
Shirt_size
Extra Large   2   2    4
Large         2   2    4
Medium        3   4    7
Small         3   2    5
All          10  10   20

Class   Shirt_size  C0  C1  All
0      Extra Large   2   2    4
1            Large   2   2    4
2           Medium   3   4    7
3            Small   3   2    5
4              All  10  10   20

In [26]:
###calcluate the Gini index for shirt size attribute
small_c0=Shirt_size1.loc[Shirt_size1.Shirt_size == 'Small','C0'].values[0]
small_c1=Shirt_size1.loc[Shirt_size1.Shirt_size == 'Small','C1'].values[0]
print(small_c0,small_c1)
print("The Gini Index for small size: ",gini_index(small_c0,small_c1))

medium_c0=Shirt_size1.loc[Shirt_size1.Shirt_size == 'Medium','C0'].values[0]
medium_c1=Shirt_size1.loc[Shirt_size1.Shirt_size == 'Medium','C1'].values[0]
print(medium_c0,medium_c1)
print("The Gini Index for medium size: ",gini_index(medium_c0,medium_c1))

large_c0=Shirt_size1.loc[Shirt_size1.Shirt_size == 'Large','C0'].values[0]
large_c1=Shirt_size1.loc[Shirt_size1.Shirt_size == 'Large','C1'].values[0]
print(large_c0,large_c1)
print("The Gini Index for Large size: ",gini_index(large_c0,large_c1))

extralarge_c0=Shirt_size1.loc[Shirt_size1.Shirt_size == 'Extra Large','C0'].values[0]
extralarge_c1=Shirt_size1.loc[Shirt_size1.Shirt_size == 'Extra Large','C1'].values[0]
print(extralarge_c0,extralarge_c1)
print("The Gini Index for Extra large size: ",gini_index(extralarge_c0,extralarge_c1))


ss_overall_gini= gini_index(small_c0,small_c1)*(4/20)+gini_index(medium_c0,medium_c1)*(4/20)+gini_index(large_c0,large_c1)*(7/20)+gini_index(extralarge_c0,extralarge_c1)*(5/20)
print("Overall Gini index for shirt size attribute ",ss_overall_gini)

3 2
x= 3
y 2
0.36
0.16000000000000003
The Gini Index for small size:  0.48
3 4
x= 3
y 4
0.18367346938775508
0.32653061224489793
The Gini Index for medium size:  0.489795918367347
2 2
x= 2
y 2
0.25
0.25
The Gini Index for Large size:  0.5
2 2
x= 2
y 2
0.25
0.25
The Gini Index for Extra large size:  0.5
x= 3
y 2
0.36
0.16000000000000003
x= 3
y 4
0.18367346938775508
0.32653061224489793
x= 2
y 2
0.25
0.25
x= 2
y 2
0.25
0.25
Overall Gini index for shirt size attribute  0.49395918367346936