In [2]:
# Import the libraries
import pandas as pd
from mlxtend.preprocessing import OnehotTransactions
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [3]:
# data of transaction for market analysis
df = pd.DataFrame({"Customer_ID": [1,1,2,2,3,3,4,4,5,5],
                  "Transaction_ID": [1,24,12,31,15,22,29,40,33,38],
                  "Items_Bought": [{'a','d','e'},{'a','b','c','e'},{'a','b','d','e'},{'a','c','d','e'},
                                   {'b','c','e'},{'b','d','e'},{'c','d'},{'a','b','c'},{'a','d','e'},{'a','b','e'}]
                  })
df
dataset=df['Items_Bought']
dataset

0       {a, d, e}
1    {b, a, e, c}
2    {b, a, d, e}
3    {a, d, e, c}
4       {b, c, e}
5       {b, e, d}
6          {c, d}
7       {b, a, c}
8       {a, d, e}
9       {b, a, e}
Name: Items_Bought, dtype: object

In [4]:
# encode the dataset into Onehot Transactions Dataframe
oht = TransactionEncoder()
oht_array = oht.fit(dataset).transform(dataset)
df = pd.DataFrame(oht_array, columns=oht.columns_).astype("int")
print(df.head())

   a  b  c  d  e
0  1  0  0  1  1
1  1  1  1  0  1
2  1  1  0  1  1
3  1  0  1  1  1
4  0  1  1  0  1

In [46]:
frequent_itemsets= apriori(df, min_support=0.1,use_colnames=True)
frequent_itemsets

    support      itemsets
0       0.7           (a)
1       0.6           (b)
2       0.5           (c)
3       0.6           (d)
4       0.8           (e)
5       0.4        (b, a)
6       0.3        (a, c)
7       0.4        (a, d)
8       0.6        (a, e)
9       0.3        (b, c)
10      0.2        (b, d)
11      0.5        (b, e)
12      0.2        (c, d)
13      0.3        (c, e)
14      0.5        (e, d)
15      0.2     (b, a, c)
16      0.1     (b, a, d)
17      0.3     (b, a, e)
18      0.1     (a, d, c)
19      0.2     (a, e, c)
20      0.4     (a, d, e)
21      0.2     (b, c, e)
22      0.2     (b, e, d)
23      0.1     (c, d, e)
24      0.1  (b, a, e, c)
25      0.1  (b, a, d, e)
26      0.1  (a, d, e, c)

### 1. Compute the support for itemsets {e}, {b, d}, and {b, d, e} bytreating each transaction ID as a market basket.

In [32]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'e'} ]

   support itemsets
4      0.8      (e)

In [33]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'b', 'd'} ]

    support itemsets
10      0.2   (b, d)

In [34]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'b', 'd','e'} ]

    support   itemsets
22      0.2  (b, e, d)

###  2. Use the results in part (a) to compute the confidence for theassociation rules {b, d}→{e} and {e}→{b, d}. Is confidence a symmetric measure?

In [60]:
rules=association_rules(frequent_itemsets,metric="confidence", min_threshold=0.1)
rules[:5]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(b),(a),0.6,0.7,0.4,0.666667,0.952381,-0.02,0.900000
1,(a),(b),0.7,0.6,0.4,0.571429,0.952381,-0.02,0.933333
2,(a),(c),0.7,0.5,0.3,0.428571,0.857143,-0.05,0.875000
3,(c),(a),0.5,0.7,0.3,0.600000,0.857143,-0.05,0.750000
4,(a),(d),0.7,0.6,0.4,0.571429,0.952381,-0.02,0.933333

In [59]:
rules[rules['antecedents'] == {'b','d'}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
27,"(b, d)",(a),0.2,0.7,0.1,0.5,0.714286,-0.04,0.6
63,"(b, d)",(e),0.2,0.8,0.2,1.0,1.250000,0.04,inf
93,"(b, d)","(a, e)",0.2,0.6,0.1,0.5,0.833333,-0.02,0.8

In [52]:
rules[rules['antecedents'] == {'e'}] 
#rules[rules['consequents'] == {'e'}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
7,(e),(a),0.8,0.7,0.6,0.750,1.071429,0.04,1.200000
13,(e),(b),0.8,0.6,0.5,0.625,1.041667,0.02,1.066667
17,(e),(c),0.8,0.5,0.3,0.375,0.750000,-0.10,0.800000
18,(e),(d),0.8,0.6,0.5,0.625,1.041667,0.02,1.066667
37,(e),"(b, a)",0.8,0.4,0.3,0.375,0.937500,-0.02,0.960000
48,(e),"(a, c)",0.8,0.3,0.2,0.250,0.833333,-0.04,0.933333
55,(e),"(a, d)",0.8,0.4,0.4,0.500,1.250000,0.08,1.200000
61,(e),"(b, c)",0.8,0.3,0.2,0.250,0.833333,-0.04,0.933333
66,(e),"(b, d)",0.8,0.2,0.2,0.250,1.250000,0.04,1.066667
73,(e),"(c, d)",0.8,0.2,0.1,0.125,0.625000,-0.06,0.914286
86,(e),"(b, a, c)",0.8,0.2,0.1,0.125,0.625000,-0.06,0.914286
101,(e),"(b, a, d)",0.8,0.1,0.1,0.125,1.250000,0.02,1.028571
114,(e),"(a, d, c)",0.8,0.1,0.1,0.125,1.250000,0.02,1.028571